.hot-btn {
    right: 24px;
    bottom: 24px;
}

.hotprice {
    font-size: 57px;
    color: #f75f07;
    font-weight: 700;
}

.hotname {
    color: #8F34AE;
    font-size: 32px;
    font-variant-caps: small-caps;
}